<div id="<%= dom_id estudiante %>">
  <p>
    <strong>Nombre:</strong>
    <%= estudiante.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= estudiante.apellido %>
  </p>

  <p>
    <strong>Carnet:</strong>
    <%= estudiante.Carnet %>
  </p>

  <p>
    <strong>Fecha de nacimiento:</strong>
    <%= estudiante.fecha_de_nacimiento %>
  </p>

  <p>
    <strong>Celular:</strong>
    <%= estudiante.celular %>
  </p>

</div>
